Scope 1 emissions are direct greenhouse (GHG) emissions that occur from sources that are controlled or owned by an organization (e.g., emissions associated with fuel combustion in boilers, furnaces, vehicles). Scope 2 emissions are indirect GHG emissions associated with the purchase of electricity, steam, heat, or cooling.

take pres = 0.5 for calculation

In [1]:
import pandas as pd

df = pd.read_csv("2013_-_Global_500_Emissions_and_Response_Status.csv")

In [2]:
df

,Company Name,Account Number,Country,Reporting Year,Ticker Symbol,ISIN,Disclosure Score,Performance Band,Parent Account,Permission,Response Status,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e),Country Location
0,VTB Bank,20356,Russia,2013,VTBR RU,RU000A0JP5V6,NaN,NaN,NaN,NaN,NR,NaN,NaN,"(61.52401, 105.318756)"
1,CEZ,3082,Czech Republic,2013,CEZ CP,CZ0005112300,NaN,NaN,NaN,NaN,NR,NaN,NaN,"(49.817492, 15.472962)"
2,Beiersdorf AG,1641,Germany,2013,BEI GR,DE0005200000,51.0,C,NaN,Public,AQ*,22071.00,51571.00,"(51.165691, 10.451526)"
3,Roche Holding AG,15841,Switzerland,2013,ROG VX,CH0012032048,96.0,B,NaN,Public,AQ*,394063.00,432103.00,"(46.818188, 8.227512)"
4,CSX Corporation,4120,USA,2013,CSX US,US1264081035,95.0,A,NaN,Public,AQ*,5268905.00,300170.00,"(37.09024, -95.712891)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Yahoo Japan Corporation,20906,Japan,2013,4689 JP,JP3933800009,15.0,NaN,NaN,Not public,AQ*,NaN,NaN,"(36.204824, 138.252924)"
496,U.S. Bancorp,19593,USA,2013,USB US,US9029733048,78.0,C,NaN,Public,AQ*,38055.00,370672.00,"(37.09024, -95.712891)"
497,Rio Tinto,15829,United Kingdom,2013,RIO LN,GB0007188757,88.0,B,NaN,Public,AQ*,26900000.00,16400000.00,"(55.378051, -3.435973)"
498,Hyundai Mobis,8713,South Korea,2013,012330 KS,KR7012330007,94.0,B,NaN,Public,AQ*,40966.85,291956.94,"(35.907757, 127.766922)"
499,Cenovus Energy Inc.,29789,Canada,2013,CVE CN,CA15135U1093,94.0,B,NaN,Public,AQ*,4657427.00,1079646.00,"(56.130366, -106.346771)"

In [3]:
df2 = df[["Company Name ", "Ticker Symbol ","Scope 1 (metric tonnes CO2e)", "Scope 2 (metric tonnes CO2e)"]].copy()
df2

,Company Name,Ticker Symbol,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e)
0,VTB Bank,VTBR RU,NaN,NaN
1,CEZ,CEZ CP,NaN,NaN
2,Beiersdorf AG,BEI GR,22071.00,51571.00
3,Roche Holding AG,ROG VX,394063.00,432103.00
4,CSX Corporation,CSX US,5268905.00,300170.00
...,...,...,...,...
495,Yahoo Japan Corporation,4689 JP,NaN,NaN
496,U.S. Bancorp,USB US,38055.00,370672.00
497,Rio Tinto,RIO LN,26900000.00,16400000.00
498,Hyundai Mobis,012330 KS,40966.85,291956.94
499,Cenovus Energy Inc.,CVE CN,4657427.00,1079646.00

In [4]:
df3=df2.dropna()
df3

,Company Name,Ticker Symbol,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e)
2,Beiersdorf AG,BEI GR,2.207100e+04,51571.00
3,Roche Holding AG,ROG VX,3.940630e+05,432103.00
4,CSX Corporation,CSX US,5.268905e+06,300170.00
5,Centrica,CNA LN,7.230344e+06,166476.00
7,Pernod Ricard,RI FP,2.833450e+05,92502.00
...,...,...,...,...
494,Holcim Ltd,HOLN VX,1.021021e+08,6600687.00
496,U.S. Bancorp,USB US,3.805500e+04,370672.00
497,Rio Tinto,RIO LN,2.690000e+07,16400000.00
498,Hyundai Mobis,012330 KS,4.096685e+04,291956.94
499,Cenovus Energy Inc.,CVE CN,4.657427e+06,1079646.00

In [5]:
df3["scope 1 + scope 2"] = df3.apply(lambda x: x["Scope 1 (metric tonnes CO2e)"]+x["Scope 2 (metric tonnes CO2e)"], axis=1)
df3

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Ticker Symbol,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e),scope 1 + scope 2
2,Beiersdorf AG,BEI GR,2.207100e+04,51571.00,7.364200e+04
3,Roche Holding AG,ROG VX,3.940630e+05,432103.00,8.261660e+05
4,CSX Corporation,CSX US,5.268905e+06,300170.00,5.569075e+06
5,Centrica,CNA LN,7.230344e+06,166476.00,7.396820e+06
7,Pernod Ricard,RI FP,2.833450e+05,92502.00,3.758470e+05
...,...,...,...,...,...
494,Holcim Ltd,HOLN VX,1.021021e+08,6600687.00,1.087028e+08
496,U.S. Bancorp,USB US,3.805500e+04,370672.00,4.087270e+05
497,Rio Tinto,RIO LN,2.690000e+07,16400000.00,4.330000e+07
498,Hyundai Mobis,012330 KS,4.096685e+04,291956.94,3.329238e+05
499,Cenovus Energy Inc.,CVE CN,4.657427e+06,1079646.00,5.737073e+06

In [6]:
def normalize_z(df):
    dfout = df.copy()
    dfout = (df - df.mean(axis=0)) / df.std(axis=0)
    return dfout

In [7]:
df3["sustainability index"] = 100-((df3["scope 1 + scope 2"]-df3["scope 1 + scope 2"].min(axis=0))/(df3["scope 1 + scope 2"].max(axis=0)-df3["scope 1 + scope 2"].min(axis=0))*100)

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df3

,Company Name,Ticker Symbol,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e),scope 1 + scope 2,sustainability index
2,Beiersdorf AG,BEI GR,2.207100e+04,51571.00,7.364200e+04,99.960903
3,Roche Holding AG,ROG VX,3.940630e+05,432103.00,8.261660e+05,99.551095
4,CSX Corporation,CSX US,5.268905e+06,300170.00,5.569075e+06,96.968207
5,Centrica,CNA LN,7.230344e+06,166476.00,7.396820e+06,95.972856
7,Pernod Ricard,RI FP,2.833450e+05,92502.00,3.758470e+05,99.796329
...,...,...,...,...,...,...
494,Holcim Ltd,HOLN VX,1.021021e+08,6600687.00,1.087028e+08,40.803760
496,U.S. Bancorp,USB US,3.805500e+04,370672.00,4.087270e+05,99.778423
497,Rio Tinto,RIO LN,2.690000e+07,16400000.00,4.330000e+07,76.420745
498,Hyundai Mobis,012330 KS,4.096685e+04,291956.94,3.329238e+05,99.819704
499,Cenovus Energy Inc.,CVE CN,4.657427e+06,1079646.00,5.737073e+06,96.876719

In [9]:
def clean_symbol(symbol):
    l = symbol.split()
    return l[0]

df3["Symbol"] = df3.apply(lambda x: clean_symbol(x["Ticker Symbol "]), axis=1)
df3

ipykernel_launcher:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Ticker Symbol,Scope 1 (metric tonnes CO2e),Scope 2 (metric tonnes CO2e),scope 1 + scope 2,sustainability index,Symbol
2,Beiersdorf AG,BEI GR,2.207100e+04,51571.00,7.364200e+04,99.960903,BEI
3,Roche Holding AG,ROG VX,3.940630e+05,432103.00,8.261660e+05,99.551095,ROG
4,CSX Corporation,CSX US,5.268905e+06,300170.00,5.569075e+06,96.968207,CSX
5,Centrica,CNA LN,7.230344e+06,166476.00,7.396820e+06,95.972856,CNA
7,Pernod Ricard,RI FP,2.833450e+05,92502.00,3.758470e+05,99.796329,RI
...,...,...,...,...,...,...,...
494,Holcim Ltd,HOLN VX,1.021021e+08,6600687.00,1.087028e+08,40.803760,HOLN
496,U.S. Bancorp,USB US,3.805500e+04,370672.00,4.087270e+05,99.778423,USB
497,Rio Tinto,RIO LN,2.690000e+07,16400000.00,4.330000e+07,76.420745,RIO
498,Hyundai Mobis,012330 KS,4.096685e+04,291956.94,3.329238e+05,99.819704,012330
499,Cenovus Energy Inc.,CVE CN,4.657427e+06,1079646.00,5.737073e+06,96.876719,CVE

In [10]:
df_sus = df3[["Company Name ", "Symbol","sustainability index"]]
df_sus

           Company Name   Symbol  sustainability index
2          Beiersdorf AG     BEI             99.960903
3       Roche Holding AG     ROG             99.551095
4        CSX Corporation     CSX             96.968207
5               Centrica     CNA             95.972856
7          Pernod Ricard      RI             99.796329
..                   ...     ...                   ...
494           Holcim Ltd    HOLN             40.803760
496         U.S. Bancorp     USB             99.778423
497            Rio Tinto     RIO             76.420745
498        Hyundai Mobis  012330             99.819704
499  Cenovus Energy Inc.     CVE             96.876719

[335 rows x 3 columns]

In [11]:
company = df_sus["Company Name "]

In [12]:
company

2            Beiersdorf AG
3         Roche Holding AG
4          CSX Corporation
5                 Centrica
7            Pernod Ricard
              ...
494             Holcim Ltd
496           U.S. Bancorp
497              Rio Tinto
498          Hyundai Mobis
499    Cenovus Energy Inc.
Name: Company Name , Length: 335, dtype: object

In [13]:
l = list(company)

In [14]:
l

['Beiersdorf AG',
 'Roche Holding AG',
 'CSX Corporation',
 'Centrica',
 'Pernod Ricard',
 'ItaÃº Unibanco Holding S.A.',
 'Iberdrola SA',
 '3M Company',
 'Brookfield Asset Management Inc.',
 'Prudential Financial, Inc.',
 'Statoil ASA',
 'Enbridge Inc.',
 'Chunghwa Telecom',
 'National Australia Bank',
 'adidas AG',
 'Total',
 'CLP Holdings Limited',
 'Intesa Sanpaolo S.p.A',
 'Samsung Electronics',
 'The Home Depot, Inc.',
 'Las Vegas Sands Corporation',
 'GlaxoSmithKline',
 'Air Liquide',
 'Sasol Limited',
 'Bank of America',
 'Vinci',
 'Standard Chartered',
 'Atlas Copco',
 'Swisscom',
 'Mondelez International Inc',
 'Teva Pharmaceutical Industries Ltd',
 'Associated British Foods',
 'KDDI Corporation',
 'Shin-Etsu Chemical Co., Ltd.',
 'Banco Santander',
 'FedEx Corporation',
 'Royal Philips',
 'Union Pacific Corporation',
 'Franklin Resources, Inc.',
 'Ambev - Cia de Bebidas das AmÃ©ricas',
 'Taiwan Semiconductor Manufacturing',
 'AXA Group',
 'Canon Inc.',
 'Swiss Re',
 'DIRECTV',
 'Medtronic, Inc.',
 'Tokio Marine Holdings, Inc.',
 'Nippon Telegraph & Telephone Corporation (NTT)',
 'BNP Paribas',
 'Kimberly-Clark Corporation',
 'Anheuser Busch InBev',
 'Heineken NV',
 'Vodacom Group',
 'Woodside Petroleum',
 'Thermo Fisher Scientific Inc.',
 'Norfolk Southern Corp.',
 'Saint-Gobain',
 'WellPoint, Inc.',
 'Chevron Corporation',
 'Imperial Tobacco Group',
 'Praxair, Inc.',
 'Prudential PLC',
 'Wal Mart de Mexico',
 'Deutsche Bank AG',
 'Societe Generale',
 'Barclays',
 'Hitachi, Ltd.',
 'Twenty-First Century Fox',
 'Costco Wholesale Corporation',
 'BT Group',
 'Covidien Ltd.',
 'Cielo SA',
 'ING Group',
 'ABB',
 'Kraft Foods',
 'Newmont Mining Corporation',
 'BHP Billiton',
 'Google Inc.',
 'Microsoft Corporation',
 'Hyundai Motor',
 'Tullow Oil',
 'Adobe Systems, Inc.',
 'Bank of Nova Scotia (Scotiabank)',
 'The Coca-Cola Company',
 'LG Chem',
 'Bristol-Myers Squibb',
 'Rogers Communications Inc.',
 'CenturyLink',
 'Monsanto Company',
 'Anglo American',
 'Astellas Pharma Inc.',
 'Siemens Aktiengesellschaft',
 'Tata Consultancy Services',
 'Fresnillo plc',
 'State Street Corporation',
 "Lowe's Companies, Inc.",
 'CSL',
 'EDF',
 'Arcelor Mittal',
 'Canadian Natural Resources Limited',
 'HSBC Holdings plc',
 'General Electric Company',
 'Bayer AG',
 'Tesco',
 'Oracle Corporation',
 'Woolworths Limited',
 'Unibail-Rodamco',
 'Novo Nordisk A/S',
 'Marsh & McLennan Companies, Inc.',
 'Honda Motor Company',
 'Nissan Motor Co., Ltd.',
 'Dow Chemical Company',
 'Standard Bank Group',
 'Seven & I Holdings Co., Ltd.',
 'Banco Santander Brasil',
 'Daimler AG',
 'T.GARANTÄ° BANKASI A.Åž.',
 'JPMorgan Chase & Co.',
 'Westfield Group',
 'Colgate Palmolive Company',
 'Honeywell International Inc.',
 'BMW AG',
 'Gas Natural SDG SA',
 'Vodafone Group',
 'Westpac Banking Corporation',
 'Halliburton Company',
 'Carrefour',
 'UniCredit',
 'Eni SpA',
 'ConocoPhillips',
 'AT&T Inc.',
 'Royal Dutch Shell',
 'Credit Agricole',
 'Compass',
 'Potash Corporation of Saskatchewan Inc.',
 'Imperial Oil',
 'Inpex Corporation',
 'Abbott Laboratories',
 'Kumba Iron Ore',
 'Reckitt Benckiser',
 'Goldman Sachs Group Inc.',
 'NestlÃ©',
 'Suncor Energy Inc.',
 'TD Bank Group',
 'Telenor Group',
 'Eli Lilly & Co.',
 'Deutsche Post AG',
 'Korea Electric Power Corporation',
 'Aviva',
 'Eaton Corporation',
 'Baxter International Inc.',
 'Exxon Mobil Corporation',
 'Mitsubishi UFJ Financial Group, Inc.',
 'Allstate Corporation',
 'Deutsche Telekom AG',
 'SABMiller',
 'Ericsson',
 'Target Corporation',
 'SSE',
 'Automatic Data Processing, Inc.',
 'MasterCard Incorporated',
 'Bank of Montreal',
 'Cisco Systems, Inc.',
 'Malayan Banking',
 'Goldcorp Inc.',
 'Kering',
 'Anadarko Petroleum Corporation',
 'Airbus Group',
 'SANOFI',
 'Yum! Brands, Inc.',
 'Baker Hughes Incorporated',
 'Vale',
 'PetrÃ³leo Brasileiro SA - Petrobras',
 'British American Tobacco',
 'E.ON SE',
 'Ford Motor Company',
 'ENEL SpA',
 'Hewlett-Packard',
 "L'OrÃ©al",
 'Sysco Corporation',
 'Boeing Company',
 'salesforce.com',
 'Husky Energy Inc.',
 'Repsol',
 'TransCanada Corporation',
 'Intel Corporation',
 'Noble Energy, Inc.',
 'Morgan Stanley',
 'Linde AG',
 'Volkswagen AG',
 'Schneider Electric',
 'WPP Group',
 'Rolls-Royce',
 'Novatek',
 'CVS Caremark Corporation',
 'Canadian National Railway Company',
 'Walt Disney Company',
 'Orange',
 'United Technologies Corporation',
 'Continental AG',
 'LVMH',
 'UBS',
 'Simon Property Group',
 'Munich Re',
 'Credit Suisse',
 'Mizuho Financial Group, Inc.',
 'Accenture',
 'Lafarge S.A.',
 'The Chubb Corporation',
 'TeliaSonera',
 'Industrias PeÃ±oles',
 'EMC Corporation',
 'Visa',
 'Teck Resources Limited',
 'eBay Inc.',
 'Johnson Controls',
 'Wesfarmers',
 'POSCO',
 'Cognizant Technology Solutions Corp.',
 'PTT Exploration & Production Public Company Limited',
 'Gazprom OAO',
 'Deere & Company',
 'BAE Systems',
 'BASF SE',
 'Altria Group, Inc.',
 'Manulife Financial Corp.',
 'Devon Energy Corporation',
 'Svenska Handelsbanken',
 'Carnival Corporation',
 'Occidental Petroleum Corporation',
 'Komatsu Ltd.',
 'Banco Bradesco S/A',
 'BBVA',
 'General Mills Inc.',
 'Allianz SE',
 'Royal Bank of Scotland Group',
 'UnitedHealth Group Inc',
 'Compagnie FinanciÃ¨re Richemont SA',
 'Verizon Communications Inc.',
 'Raytheon Company',
 'Apache Corporation',
 'Pfizer Inc.',
 'DNB ASA',
 'Air Products & Chemicals, Inc.',
 'BG Group',
 'Schlumberger Limited',
 'Time Warner Inc.',
 'Danone',
 'Yahoo! Inc.',
 'Australia and New Zealand Banking Group',
 'ITC Limited',
 'Toyota Motor Corporation',
 'Celgene Corporation',
 'Reynolds American Inc.',
 'British Sky Broadcasting',
 'Wal-Mart Stores, Inc.',
 'Hess Corporation',
 'Nomura Holdings, Inc.',
 'AstraZeneca',
 'MTN Group',
 'Amgen, Inc.',
 'Kellogg Company',
 'E.I. du Pont de Nemours and Company',
 'Procter & Gamble Company',
 'Firstrand Limited',
 'Spectra Energy Corp',
 'Endesa',
 'Cummins Inc.',
 'Syngenta International AG',
 'American Express',
 'AFLAC Incorporated',
 'Biogen Idec Inc.',
 'Merck & Co., Inc.',
 'Citigroup Inc.',
 'International Business Machines (IBM)',
 'Lloyds Banking Group',
 'SAP AG',
 'PPG Industries, Inc.',
 'BP',
 'HCP Inc.',
 'Diageo Plc',
 'TJX Companies, Inc.',
 'Telstra Corporation',
 'Assicurazioni Generali Spa',
 'Antofagasta',
 'Banco do Brasil S/A',
 'Starbucks Corporation',
 'Freeport-McMoRan Copper & Gold Inc.',
 'Takeda Pharmaceutical Company Limited',
 'Lockheed Martin Corporation',
 'RWE AG',
 'MTR Corporation',
 'H&M Hennes & Mauritz AB',
 'NTT DOCOMO, INC.',
 'Inditex',
 'Infosys Limited',
 'Ace Ltd.',
 'Mitsubishi Electric Corporation',
 'Commonwealth Bank of Australia',
 'PNC Financial Services Group, Inc.',
 'Larsen & Toubro',
 'QUALCOMM Inc.',
 'BNY Mellon',
 'GDF Suez',
 'Texas Instruments Incorporated',
 'Vivendi SA',
 'Capital One Financial',
 'SingTel',
 'UPS',
 'PepsiCo, Inc.',
 'Telefonica',
 'Unilever plc',
 'Corning Incorporated',
 'Allergan, Inc.',
 'Ecolab Inc.',
 'General Motors Company',
 'BCE Inc.',
 'Barrick Gold Corporation',
 'Exelon Corporation',
 'The Travelers Companies, Inc.',
 'Royal Bank of Canada',
 'Canadian Imperial Bank of Commerce (CIBC)',
 'Johnson & Johnson',
 'Novartis',
 'Wells Fargo & Company',
 'Philip Morris International',
 'Ventas Inc',
 'PTT',
 'National Grid',
 'HDFC Bank Ltd',
 'Holcim Ltd',
 'U.S. Bancorp',
 'Rio Tinto',
 'Hyundai Mobis',
 'Cenovus Energy Inc.']

In [15]:
stock_df = pd.read_csv("stock.csv")
stock_df

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$137.51,-1.97,-1.412%,4.152813e+10,United States,1999.0,1878562,Capital Goods,Electrical Products
1,AA,Alcoa Corporation Common Stock,$56.21,-5.04,-8.229%,1.051707e+10,NaN,2016.0,11018919,Basic Industries,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.74,0.00,0.00%,1.217500e+09,NaN,2021.0,1164821,Finance,Business Services
3,AACG,ATA Creativity Global American Depositary Shares,$1.75,-0.08,-4.372%,5.490961e+07,China,NaN,87925,Miscellaneous,Service to the Health Industry
4,AACI,Armada Acquisition Corp. I Common Stock,$9.81,-0.03,-0.305%,2.031602e+08,United States,2021.0,204116,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8399,ZWS,Zurn Water Solutions Corporation Common Stock,$31.51,-0.47,-1.47%,3.823723e+09,United States,2012.0,874690,Public Utilities,Water Supply
8400,ZY,Zymergen Inc. Common Stock,$4.86,-0.33,-6.358%,4.976679e+08,United States,2021.0,1030300,Basic Industries,Industrial Specialties
8401,ZYME,Zymeworks Inc. Common Shares,$11.21,-0.34,-2.944%,5.218699e+08,Canada,2017.0,953748,NaN,NaN
8402,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$2.37,-0.01,-0.42%,9.768556e+07,United States,2015.0,922085,Health Care,Biotechnology: Pharmaceutical Preparations
8403,ZYXI,Zynex Inc. Common Stock,$8.12,-0.22,-2.638%,3.256028e+08,United States,NaN,222091,Health Care,Other Pharmaceuticals

In [16]:
def clean_price(price):
    return price[1::]

stock_df["Price"] = stock_df.apply(lambda x: clean_price(x["Last Sale"]), axis=1)
stock_df

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry,Price
0,A,Agilent Technologies Inc. Common Stock,$137.51,-1.97,-1.412%,4.152813e+10,United States,1999.0,1878562,Capital Goods,Electrical Products,137.51
1,AA,Alcoa Corporation Common Stock,$56.21,-5.04,-8.229%,1.051707e+10,NaN,2016.0,11018919,Basic Industries,Metal Fabrications,56.21
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.74,0.00,0.00%,1.217500e+09,NaN,2021.0,1164821,Finance,Business Services,9.74
3,AACG,ATA Creativity Global American Depositary Shares,$1.75,-0.08,-4.372%,5.490961e+07,China,NaN,87925,Miscellaneous,Service to the Health Industry,1.75
4,AACI,Armada Acquisition Corp. I Common Stock,$9.81,-0.03,-0.305%,2.031602e+08,United States,2021.0,204116,NaN,NaN,9.81
...,...,...,...,...,...,...,...,...,...,...,...,...
8399,ZWS,Zurn Water Solutions Corporation Common Stock,$31.51,-0.47,-1.47%,3.823723e+09,United States,2012.0,874690,Public Utilities,Water Supply,31.51
8400,ZY,Zymergen Inc. Common Stock,$4.86,-0.33,-6.358%,4.976679e+08,United States,2021.0,1030300,Basic Industries,Industrial Specialties,4.86
8401,ZYME,Zymeworks Inc. Common Shares,$11.21,-0.34,-2.944%,5.218699e+08,Canada,2017.0,953748,NaN,NaN,11.21
8402,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,$2.37,-0.01,-0.42%,9.768556e+07,United States,2015.0,922085,Health Care,Biotechnology: Pharmaceutical Preparations,2.37
8403,ZYXI,Zynex Inc. Common Stock,$8.12,-0.22,-2.638%,3.256028e+08,United States,NaN,222091,Health Care,Other Pharmaceuticals,8.12

In [17]:
def clean_beta(change_percent):
    try:
        num = (change_percent)[:-1]
        return float(num) * 0.01
    except:
        return None

stock_df["Beta"] = stock_df.apply(lambda x: clean_beta(x["% Change"]), axis=1)

In [18]:
stock_df_info = stock_df[["Symbol", "Name", "Market Cap", "Price", "Beta"]]
stock_df_info

,Symbol,Name,Market Cap,Price,Beta
0,A,Agilent Technologies Inc. Common Stock,4.152813e+10,137.51,-0.01412
1,AA,Alcoa Corporation Common Stock,1.051707e+10,56.21,-0.08229
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,1.217500e+09,9.74,0.00000
3,AACG,ATA Creativity Global American Depositary Shares,5.490961e+07,1.75,-0.04372
4,AACI,Armada Acquisition Corp. I Common Stock,2.031602e+08,9.81,-0.00305
...,...,...,...,...,...
8399,ZWS,Zurn Water Solutions Corporation Common Stock,3.823723e+09,31.51,-0.01470
8400,ZY,Zymergen Inc. Common Stock,4.976679e+08,4.86,-0.06358
8401,ZYME,Zymeworks Inc. Common Shares,5.218699e+08,11.21,-0.02944
8402,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,9.768556e+07,2.37,-0.00420
8403,ZYXI,Zynex Inc. Common Stock,3.256028e+08,8.12,-0.02638

In [19]:
stock_df_info.dropna()

,Symbol,Name,Market Cap,Price,Beta
0,A,Agilent Technologies Inc. Common Stock,4.152813e+10,137.51,-0.01412
1,AA,Alcoa Corporation Common Stock,1.051707e+10,56.21,-0.08229
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,1.217500e+09,9.74,0.00000
3,AACG,ATA Creativity Global American Depositary Shares,5.490961e+07,1.75,-0.04372
4,AACI,Armada Acquisition Corp. I Common Stock,2.031602e+08,9.81,-0.00305
...,...,...,...,...,...
8399,ZWS,Zurn Water Solutions Corporation Common Stock,3.823723e+09,31.51,-0.01470
8400,ZY,Zymergen Inc. Common Stock,4.976679e+08,4.86,-0.06358
8401,ZYME,Zymeworks Inc. Common Shares,5.218699e+08,11.21,-0.02944
8402,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,9.768556e+07,2.37,-0.00420
8403,ZYXI,Zynex Inc. Common Stock,3.256028e+08,8.12,-0.02638

In [20]:
df_sus_stock=df_sus.merge(stock_df_info, how="inner", on="Symbol")

In [21]:
df_sus_stock

,Company Name,Symbol,sustainability index,Name,Market Cap,Price,Beta
0,Roche Holding AG,ROG,99.551095,Rogers Corporation Common Stock,5.108822e+09,272.76,-0.00095
1,CSX Corporation,CSX,96.968207,CSX Corporation Common Stock,7.563323e+10,34.10,-0.03235
2,Centrica,CNA,95.972856,CNA Financial Corporation Common Stock,1.213521e+10,44.72,-0.01433
3,3M Company,MMM,96.314209,3M Company Common Stock,9.949005e+10,172.65,-0.00530
4,"Prudential Financial, Inc.",PRU,99.959781,Prudential Financial Inc. Common Stock,4.158378e+10,110.01,-0.02152
...,...,...,...,...,...,...,...
179,Philip Morris International,PM,99.524041,Philip Morris International Inc Common Stock,1.602287e+11,102.92,0.00882
180,Ventas Inc,VTR,99.806179,Ventas Inc. Common Stock,2.094875e+10,52.48,0.02220
181,U.S. Bancorp,USB,99.778423,U.S. Bancorp Common Stock,8.170215e+10,55.10,-0.03231
182,Rio Tinto,RIO,76.420745,Rio Tinto Plc Common Stock,1.204149e+11,74.36,-0.02363
183,Cenovus Energy Inc.,CVE,96.876719,Cenovus Energy Inc Common Stock,2.834837e+10,14.05,-0.04552

In [22]:
def cal_Ri(beta, r_market):
    return 0.035+float(beta)*(float(r_market)-0.035)

df_sus_stock["R_i"] = df_sus_stock.apply(lambda x: cal_Ri(x["Beta"], x["Price"]),axis=1)
df_sus_stock

,Company Name,Symbol,sustainability index,Name,Market Cap,Price,Beta,R_i
0,Roche Holding AG,ROG,99.551095,Rogers Corporation Common Stock,5.108822e+09,272.76,-0.00095,-0.224089
1,CSX Corporation,CSX,96.968207,CSX Corporation Common Stock,7.563323e+10,34.10,-0.03235,-1.067003
2,Centrica,CNA,95.972856,CNA Financial Corporation Common Stock,1.213521e+10,44.72,-0.01433,-0.605336
3,3M Company,MMM,96.314209,3M Company Common Stock,9.949005e+10,172.65,-0.00530,-0.879860
4,"Prudential Financial, Inc.",PRU,99.959781,Prudential Financial Inc. Common Stock,4.158378e+10,110.01,-0.02152,-2.331662
...,...,...,...,...,...,...,...,...
179,Philip Morris International,PM,99.524041,Philip Morris International Inc Common Stock,1.602287e+11,102.92,0.00882,0.942446
180,Ventas Inc,VTR,99.806179,Ventas Inc. Common Stock,2.094875e+10,52.48,0.02220,1.199279
181,U.S. Bancorp,USB,99.778423,U.S. Bancorp Common Stock,8.170215e+10,55.10,-0.03231,-1.744150
182,Rio Tinto,RIO,76.420745,Rio Tinto Plc Common Stock,1.204149e+11,74.36,-0.02363,-1.721300
183,Cenovus Energy Inc.,CVE,96.876719,Cenovus Energy Inc Common Stock,2.834837e+10,14.05,-0.04552,-0.602963

In [23]:
sigma_square = df_sus_stock["Price"].apply(lambda x: float(x)).var()
sigma_square

44640.97668193083

In [24]:
import numpy as np
pres = 0.5
def cal_signal(pres, sigma_square, R_i):
    return pres*np.log(sigma_square)+(2-pres)*R_i

df_sus_stock["signal"] = df_sus_stock.apply(lambda x: cal_signal(pres, sigma_square, x["R_i"]), axis=1)
df_sus_stock

,Company Name,Symbol,sustainability index,Name,Market Cap,Price,Beta,R_i,signal
0,Roche Holding AG,ROG,99.551095,Rogers Corporation Common Stock,5.108822e+09,272.76,-0.00095,-0.224089,5.017071
1,CSX Corporation,CSX,96.968207,CSX Corporation Common Stock,7.563323e+10,34.10,-0.03235,-1.067003,3.752700
2,Centrica,CNA,95.972856,CNA Financial Corporation Common Stock,1.213521e+10,44.72,-0.01433,-0.605336,4.445200
3,3M Company,MMM,96.314209,3M Company Common Stock,9.949005e+10,172.65,-0.00530,-0.879860,4.033414
4,"Prudential Financial, Inc.",PRU,99.959781,Prudential Financial Inc. Common Stock,4.158378e+10,110.01,-0.02152,-2.331662,1.855711
...,...,...,...,...,...,...,...,...,...
179,Philip Morris International,PM,99.524041,Philip Morris International Inc Common Stock,1.602287e+11,102.92,0.00882,0.942446,6.766872
180,Ventas Inc,VTR,99.806179,Ventas Inc. Common Stock,2.094875e+10,52.48,0.02220,1.199279,7.152122
181,U.S. Bancorp,USB,99.778423,U.S. Bancorp Common Stock,8.170215e+10,55.10,-0.03231,-1.744150,2.736979
182,Rio Tinto,RIO,76.420745,Rio Tinto Plc Common Stock,1.204149e+11,74.36,-0.02363,-1.721300,2.771254
183,Cenovus Energy Inc.,CVE,96.876719,Cenovus Energy Inc Common Stock,2.834837e+10,14.05,-0.04552,-0.602963,4.448760

In [25]:
df_sus_stock["profitability index"] = ((df_sus_stock["signal"]-df_sus_stock["signal"].min(axis=0))/(df_sus_stock["signal"].max(axis=0)-df_sus_stock["signal"].min(axis=0)))*100

In [26]:
df_sus_stock

,Company Name,Symbol,sustainability index,Name,Market Cap,Price,Beta,R_i,signal,profitability index
0,Roche Holding AG,ROG,99.551095,Rogers Corporation Common Stock,5.108822e+09,272.76,-0.00095,-0.224089,5.017071,93.519611
1,CSX Corporation,CSX,96.968207,CSX Corporation Common Stock,7.563323e+10,34.10,-0.03235,-1.067003,3.752700,92.330548
2,Centrica,CNA,95.972856,CNA Financial Corporation Common Stock,1.213521e+10,44.72,-0.01433,-0.605336,4.445200,92.981802
3,3M Company,MMM,96.314209,3M Company Common Stock,9.949005e+10,172.65,-0.00530,-0.879860,4.033414,92.594543
4,"Prudential Financial, Inc.",PRU,99.959781,Prudential Financial Inc. Common Stock,4.158378e+10,110.01,-0.02152,-2.331662,1.855711,90.546548
...,...,...,...,...,...,...,...,...,...,...
179,Philip Morris International,PM,99.524041,Philip Morris International Inc Common Stock,1.602287e+11,102.92,0.00882,0.942446,6.766872,95.165191
180,Ventas Inc,VTR,99.806179,Ventas Inc. Common Stock,2.094875e+10,52.48,0.02220,1.199279,7.152122,95.527494
181,U.S. Bancorp,USB,99.778423,U.S. Bancorp Common Stock,8.170215e+10,55.10,-0.03231,-1.744150,2.736979,91.375326
182,Rio Tinto,RIO,76.420745,Rio Tinto Plc Common Stock,1.204149e+11,74.36,-0.02363,-1.721300,2.771254,91.407560
183,Cenovus Energy Inc.,CVE,96.876719,Cenovus Energy Inc Common Stock,2.834837e+10,14.05,-0.04552,-0.602963,4.448760,92.985150

In [27]:
result_df = df_sus_stock[["Company Name ", "Symbol", "Price","Market Cap","sustainability index", "profitability index"]]

In [28]:
result_df

,Company Name,Symbol,Price,Market Cap,sustainability index,profitability index
0,Roche Holding AG,ROG,272.76,5.108822e+09,99.551095,93.519611
1,CSX Corporation,CSX,34.10,7.563323e+10,96.968207,92.330548
2,Centrica,CNA,44.72,1.213521e+10,95.972856,92.981802
3,3M Company,MMM,172.65,9.949005e+10,96.314209,92.594543
4,"Prudential Financial, Inc.",PRU,110.01,4.158378e+10,99.959781,90.546548
...,...,...,...,...,...,...
179,Philip Morris International,PM,102.92,1.602287e+11,99.524041,95.165191
180,Ventas Inc,VTR,52.48,2.094875e+10,99.806179,95.527494
181,U.S. Bancorp,USB,55.10,8.170215e+10,99.778423,91.375326
182,Rio Tinto,RIO,74.36,1.204149e+11,76.420745,91.407560
183,Cenovus Energy Inc.,CVE,14.05,2.834837e+10,96.876719,92.985150

In [31]:
desired_s = 96
desired_p = 90

import math
def cal_similarity(company_s, company_p):
    return math.sqrt((company_s-desired_s)**2+(company_p-desired_p)**2)


result_df["absolute distance"] = result_df.apply(lambda x: cal_similarity(x["sustainability index"],x["profitability index"]), axis=1)
result_df

ipykernel_launcher:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Symbol,Price,Market Cap,sustainability index,profitability index,absolute distance
0,Roche Holding AG,ROG,272.76,5.108822e+09,99.551095,93.519611,4.999793
1,CSX Corporation,CSX,34.10,7.563323e+10,96.968207,92.330548,2.523664
2,Centrica,CNA,44.72,1.213521e+10,95.972856,92.981802,2.981925
3,3M Company,MMM,172.65,9.949005e+10,96.314209,92.594543,2.613500
4,"Prudential Financial, Inc.",PRU,110.01,4.158378e+10,99.959781,90.546548,3.997322
...,...,...,...,...,...,...,...
179,Philip Morris International,PM,102.92,1.602287e+11,99.524041,95.165191,6.252844
180,Ventas Inc,VTR,52.48,2.094875e+10,99.806179,95.527494,6.711199
181,U.S. Bancorp,USB,55.10,8.170215e+10,99.778423,91.375326,4.020946
182,Rio Tinto,RIO,74.36,1.204149e+11,76.420745,91.407560,19.629785
183,Cenovus Energy Inc.,CVE,14.05,2.834837e+10,96.876719,92.985150,3.111230

In [32]:
# now what i am doing is to make the absolute distance to be in between 0 to 100 scale
min_dis = result_df["absolute distance"].min(axis=0)
max_dis = result_df["absolute distance"].max(axis=0)
result_df["result similarity"] = 100 - ((result_df["absolute distance"]-min_dis)/(max_dis-min_dis))*100
result_df

ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company Name,Symbol,Price,Market Cap,sustainability index,profitability index,absolute distance,result similarity
0,Roche Holding AG,ROG,272.76,5.108822e+09,99.551095,93.519611,4.999793,95.478077
1,CSX Corporation,CSX,34.10,7.563323e+10,96.968207,92.330548,2.523664,98.209682
2,Centrica,CNA,44.72,1.213521e+10,95.972856,92.981802,2.981925,97.704139
3,3M Company,MMM,172.65,9.949005e+10,96.314209,92.594543,2.613500,98.110577
4,"Prudential Financial, Inc.",PRU,110.01,4.158378e+10,99.959781,90.546548,3.997322,96.583979
...,...,...,...,...,...,...,...,...
179,Philip Morris International,PM,102.92,1.602287e+11,99.524041,95.165191,6.252844,94.095742
180,Ventas Inc,VTR,52.48,2.094875e+10,99.806179,95.527494,6.711199,93.590097
181,U.S. Bancorp,USB,55.10,8.170215e+10,99.778423,91.375326,4.020946,96.557918
182,Rio Tinto,RIO,74.36,1.204149e+11,76.420745,91.407560,19.629785,79.338630
183,Cenovus Energy Inc.,CVE,14.05,2.834837e+10,96.876719,92.985150,3.111230,97.561493

In [29]:
result_df.to_csv('result.csv', index=False)

take this example:

- Roche Holding AG	
- company_s: 99.551095	
- company_p: 93.519611
- user input: desired_s=98, desired_p=